/* reset para margin y paddin de todas la etiquetas*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

/* Ajusta los Rem a 10px * 1rem */
html{
    font-size: 62.5%; 
    box-sizing: border-box; 
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* ----------------------- */

body{
    /* background-color: ; */
    font-size: 1.6rem;
    line-height: 1.5;
}

/* quitamos los puntos de los li */
li{
    list-style-type: none;
}

/* evitamos problemas de desbordamiento con las imagenes */
img , picture , video , iframe , figure {
    max-width: 100%;
    width: 100%;
    display: block;
}


form, input, textarea, select, button, label{ /* para colocar color debemos colocarlo a la etiqueta contenedora de estos elementos  */
    display: block;
    background-color: inherit;
}

/* reset para los enlases para que funcione como caja  */
a{
    text-decoration: none;
    display: blockS;
}

/* exeptuando si estan dentro de una etiqueta parrafo  */
p a{
    display: inline;
}
