:root{
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

}


html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: 'Cardo', serif;
    background-image: linear-gradient(to top, #DFE9F3 0%, var(--blanco) 100%);

}

.titulo{
    text-align: center;
    color: var(--negro);
    font-size: 3.8;
    font-weight: 700;
    text-transform: uppercase;
}

span{
    font-size: 1.5rem;
}

.contenedor{
    max-width: 120rem;
    margin: auto;
}

.nav-bag{
    background-color: var(--secundario);
}
.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;

}

@media (min-width: 769px) {
    .navegacion{
        flex-direction: row; 
        justify-content: space-between;
    }
}

.navegacion a{
    color: var(--blanco);
    text-decoration: none; 
    padding: 1rem;
}
.navegacion a:hover{
    background-color: var(--primario);
}
.hero{
    background-image: url(/freelancer_inicio/1778829c66b7800a38a5c6ec92827c482fc056cb.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
}
.contenido-hero{
    position: absolute;
    background-color: rgba(1, 1, 1,.6);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.contenido-hero h2,a{
    color: var(--blanco);
}

.botton{
    background-color: var(--secundario);
    color: var(--blanco);
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem ;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    width: 60%;
    text-align: center;
    
}

@media (min-width: 769px) {
    .botton{
        width: auto;
    }
}

.sombra{
    box-shadow: 0px 4px 37px 4px rgba(128,119,128,1);
    background: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
@media (min-width:700px ) {
    
    .servicios{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.servicio h3{
    color: var(--secundario);

}
 .servicio .icono{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .servicio p{
    line-height: 2;
}

.formulario{
   background-color: var(--gris);
   width: min(60rem, 100%);
   margin: auto;
   padding: 2rem;
   border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    text-transform: uppercase;
    color: var(--primario);
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.8rem;
}

.contenedor-campos{


}

.campo{
    margin-bottom: 1rem;
}

.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.campo input,.campo{
    width: 100%;
    padding: 2rem;
    border: none;
    border-radius: .5rem;

}

button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}